<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nam quas harum perferendis fuga ab saepe
            ullam, expedita necessitatibus! Delectus dolorum atque iure recusandae exercitationem ad repellat in, quam
            rem dicta, beatae excepturi veniam! Eius consequuntur ipsum quia obcaecati cupiditate!</p>
    </div>
</div>