<div class="col-md-4 mx-auto mt-5">
    <div class="card mt-4 text-center">
        <div class="card-header">
            <h1>Ingresar</h1>
            <div>
            </div class="card-body">
            <form action="/users/signin" method="POST">
                <div class="form-group mt-5">
                    <input type="email" class="form-control" name="email" placeholder="Correo electronico" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        SigIn
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>